<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tbum.prayertv">

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrayerTV"
        tools:targetApi="31">
        <activity
            android:name=".Activities.ColorPickerActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.ScrollUpTextActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.BannerListActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.PrayerZoneActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.PlayVideoActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.PreviewImageActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.SoundListActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.AddDateActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.ImportantDatesActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.ReminderActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.RunningTextActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.InfoActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.SettingsActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.SplashScreen"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Alarms.AlarmBroadcastReceiver" />
    </application>

</manifest>